body{
	background-color: hotpink;
	color: #fbc223;

}
.container {
	background-color: hotpink;
}
img {
	width: 150px;
	box-shadow: -20px 22px 50px -9px rgba(0, 0, 0, 10.100);
	padding: 1px
}
footer{
	text-align: center;
}
.table img {
			transition: transform 0.30s ease;
		}
.table img:hover {
			transform: scale(1.2);
		}
}
.table th, .table td {
			text-align: center;
			padding: 15px;
		}

		.table th, .table td {
			background-color: #f8d7e5;
		}

		.table td strong {
			font-size: 1.5rem;
			font-family: 'Pacifico', cursive;
			color: #D36B6B; 
		}

		.table td {
			font-family: 'Arial', sans-serif;
			font-size: 1rem;
			color: #555;
		}

		.table thead {
			background-color: #f3a7c1; 
		}

		.table td strong:hover {
			color: #C65D5D;
		}

		.table-bordered {
			border: 2px solid #e0a1c7;
		}
